<div class="display poem">
	<ul>
	<% @poem_tweets.each do |poem_tweet| %>
		<li>
		<a class="poem-line" href="<%= poem_tweet.tweet.tweet_status_url %>">
		<%= @coder.decode(poem_tweet.tweet.text) %>
		</a>
		<h6><a class="twitter-handle-link" href="https://twitter.com/<%= poem_tweet.tweet.twitter_handle.handle %>"><%= '@' + poem_tweet.tweet.twitter_handle.handle %></a></h6>
		</li>
	<% end %>
	</ul>

<br>
<% if user_signed_in? %>	
	<% if @liked %>
		<form class="dislike-button" action=<%=poem_like_path(@poem.id)%> method="post">
			<input type="hidden" name="like" value="false">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<button type="submit" class="like-btn"><i class="fa fa-heart-o fa-lg"></i></button>
		</form>
	<% else %>

		<form class="like-button" action=<%=poem_like_path(@poem.id)%> method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<input type="hidden" name="like" value="true">
			<button type="submit" class="like-btn" ><i class="fa fa-heart fa-lg"></i></button>	
		</form>
	<% end %>
<% end %>
<br>
<br>
<a href="/poems/new" class="create-poem-link">Create a poem of your own!</a>

</div>






