<!DOCTYPE html>
<html>
<head>
	<title>Twitterick</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
	<%= csrf_meta_tags %>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar navbar-default" role="navigation">
	<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="title-link" href="/">Twitterick</a>
			</div>
			<div class="navbar-collapse collapse">
				<% if user_signed_in? %>
				
				<form class="navbar-form navbar-right" role="form" action="/users/sign_out" method="post">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="_method" value="delete">
					<button type="submit" class="btn btn-link">Sign out</button>
				</form>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a class="email-link" href="/users/edit"><%= current_user.email %></a></li>
				</ul>

				<% else %>
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/users/sign_in">Sign in</a></li>
					<li><a href="/users/sign_up">Sign up</a></li>
				</ul>

				</div>
				
				<% end %>
			</div>
		</div>
	</div>


	<div class="container">
		<% if notice %>
		<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden=" true">&times;</button>
			<%= notice %>
		</div>
		<% end %>
		<% if alert %>
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden=" true">&times;</button>
			<%= alert %>
		</div>
		<% end %>

		<%= yield %>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    	<small>Made by Isaac Torres &amp; Colleen Joyce</small>
  </div>
</nav>
</body>
</html>
